
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:fb="http://ogp.me/ns/fb#">
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>
   <meta charset="utf-8">
	<title>Rayden Chia</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="css/default.css">
	<link rel="stylesheet" href="css/layout.css">
	<link rel="stylesheet" href="css/media-queries.css">
	<link rel="stylesheet" href="css/magnific-popup.css">

	<script src="js/modernizr.js"></script>

	<link rel="shortcut icon" href="favicon.ico" >

    <meta property="og:url"                content="https://cyx.sg/about" />
    <meta property="og:type"               content="profile" />
    <meta property="og:title"              content="Rayden Y. Chia" />
    <meta property="og:description"        content="Computer and Information Security | Student at MIT | Offensive Security Certified Expert (OSCE)" />
    <meta property="og:image"              content="https://cyx.sg/about/images/fb_hdr.jpg" />
</head>

<body>
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
	         <li><a class="smoothscroll" href="#resume">Resume</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">I'm Rayden Chia.</h1>
            <h3>I'm a <span>student at MIT</span> studying <span>computer science and engineering</span>. 
		I am passionate about <span>computer and information security</span>.
            <hr />
            <ul class="social">
               <li><a href="https://cyx.sg/me"><i class="fa fa-linkedin"></i></a></li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="images/profile_pic.jpg" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>About Me: <i>Rayden Y. Chia, OSCE</i></h2>

            <p>I am a highly self-motivated Information Technology (IT) professional whose 
            interests lie in the areas of information security, systems engineering and 
            software security. My current foci include vulnerability research, exploit 
            development, malware analysis as well as penetration testing and how it plays 
            an integral part in the security posture of an entity. Additionally, I am 
            also exploring the area of IT governance, which includes the assessment and 
            evaluation of IT controls and frameworks, as well as the formulation of 
            policies at various levels to facilitate information assurance.<br /><br />

			I also take an avid interest in the design, implementation and monitoring of 
			secure networked systems for organizations. I have experience in the 
			configuration and maintenance of secure networked systems that comply with 
			necessary industry standards and requirements. I have also worked on 
			enterprise solutions with security as a key consideration in its design and 
			implementation.
            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact Details</h2>
                  <p class="address">
					<span>Rayden Y. Chia</span><br>
                     <span><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d7bab297b4aeaff9a4b0">[email&#160;protected]</a></span>
					   </p>

               </div>

               <div class="columns download">
                  <p>
                     <a href="https://cyx.sg/me" target="_blank" class="button"><i class="fa fa-download"></i>Visit LinkedIn Profile</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>Massachusetts Institute of Technology (MIT) </h3>
                  <p class="info">Bachelors of Science and Masters of Engineering in Computer Science &amp; Engineering 
                  <span>&bull;</span> Cambridge, MA <span>&bull;</span> 
                  <em class="date">Aug 2016 - Jun 2020</em></p>

                  <p>
                  <b>Current coursework:</b> Operating Systems Engineering, Design and Analysis of Algorithms,
                  Russian I, World Music
                  </p>
                  <p>
                  <b>Past coursework:</b> Problems in Philosophy, Calculus I/II, Physics I/II, Intro. Solid State Chemistry,
                  Fundamentals of Programming, Intro. Algorithms, Software Construction, 
                  Computation Structures, Computer and Network Security
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Nanyang Polytechnic (NYP)</h3>
                  <p class="info">Diploma with Merit in Information Security 
                  <span>&bull;</span> Singapore <span>&bull;</span> 
                  <em class="date">Apr 2011 - Mar 2014</em></p>

                  <p>
                  <b>Relevant coursework:</b> Enterprise Security Assessment, Malware Analysis, 
                  Operations Security, InfoSecurity Policies and Audit, Risk Management,
                  6 security-related security projects
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->


         <div class="three columns header-col">
            <h1><span>Experience</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">
               <div class="twelve columns">
                  <h3>Internet Professional</h3>
                  <p class="info">Freelance <span>&bull;</span> 
                  <em class="date">Jun 2012 - Present</em></p>
                  <p>
                    <ul>
                        <li><b>Past projects include:</b></li>
                        <li>Setup and management of email blast cluster (over 100k emails subscribed)</li>
                        <li>Performing black and grey box security assessments with reference to ISSAF and OSSTMM</li>
                        <li>Migration of applications and infrastructure to a public/hybrid cloud model (with Amazon/Azure)</li>
                        <li>Developing a scalable web application with 2000 concurrent users at maximum load</li>
                        <li>Development of dynamic web sites and custom portals</li>
                        <li>Regular maintenance of the above<li>
                    </ul>
                  </p>
               </div>
            </div> <!-- item end -->

            <div class="row item">
               <div class="twelve columns">
                  <h3>Software Solutions Architect</h3>
                  <p class="info">Singapore Armed Forces
                  <span>&bull;</span> Singapore <span>&bull;</span> 
                  <em class="date">Jun 2017 - Aug 2017</em></p>
                  <p>
                      <ul>
                        <li><b>Primary responsibilities include:</b></li>
                        <li>Provide support for development and implementation of secure applications for
                            integration with existing software and infrastructure
                        </li>
                        <li>Answer technical portions of requests for proposals and information (RFP/RFI)</li>
                        <li>Educate prospective users on the capabilities of the developed software and
                            conduct live demonstrations on actual use cases of the solutions</li>
                        <li>Identify appropriate technologies to solve problems</li>
                        <li>Represent the team in reporting to senior officers</li>
                      </ul>
                  </p>
               </div>
            </div> <!-- item end -->

            <div class="row item">
               <div class="twelve columns">
                  <h3>Software Solutions Architect</h3>
                  <p class="info">Singapore Armed Forces
                  <span>&bull;</span> Singapore <span>&bull;</span> 
                  <em class="date">Feb 2015 - Aug 2016</em></p>
                  <p>
                    <i>(See above)</i>
                  </p>
               </div>
            </div> <!-- item end -->

            <div class="row item">
               <div class="twelve columns">
                  <h3>Student Researcher</h3>
                  <p class="info">Singapore University of Technology and Design (SUTD)
                  <span>&bull;</span> Singapore <span>&bull;</span> 
                  <em class="date">Aug 2013 - Dec 2013</em></p>
                  <ul>
                      <li>
                      The objective was to discover/invent technologies and scalable system designs for next-generation 
                      multiplayer mobile cloud gaming that provides significantly better game quality and experience 
                      by requiring fewer bandwidth and as such as feasible for cellular data connections. My research culminated 
                      in an open-architecture cloud gaming test bed that enables modular use of advanced rendering, media 
                      streaming and networking technologies. The test bed served as a common research, development and 
                      experiment platform. 
                      </li>
                  </ul>
               </div>
            </div> <!-- item end -->

            <div class="row item">
               <div class="twelve columns">
                  <h3>Software Security Research Intern</h3>
                  <p class="info">Singapore University of Technology and Design (SUTD)
                  <span>&bull;</span> Singapore <span>&bull;</span> 
                  <em class="date">Aug 2013 - Dec 2013</em></p>
                  <ul>
                      <li>
                      The goal of my research was to develop novel techniques to thwart efforts in software reverse engineering 
                      on PE32 and MSIL binaries. During the course of R&amp;D, topics such as the following were evaluated with depth:
                      </li>
                      <li>- Advanced Code Obfuscation</li>
                      <li>- Malware Techniques</li>
                      <li>- Reverse Engineering of PE32 and MSIL binaries</li>
                      <li>- Packers, Cryptors, Protectors and Thin VMs</li>
                      <li>
                          The research culminated in a C/C++ framework that enables instruction-wise on-the-fly encryption/decryption 
                          of a chosen code segment in the binary (i.e. only one instruction is valid and executable at any point during 
                          execution). Empirical testing showed that there was approximately 30% overhead added to the execution time of
                          the protected code segment. The final solution made use of multiple tricks at various levels of the compiler,
                          debugger and Windows operating system.
                      </li>
                  </ul>
               </div>
            </div> <!-- item end -->

         </div> <!-- main-col end -->


          <div class="three columns header-col">
            <h1><span>Certifications</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">
               <div class="twelve columns">
                  <h3>Offensive Security Certified Expert (OSCE)</h3>
                  <p class="info">Awarded by Offensive Security Inc. <span>&bull;</span> <em class="date">Nov 2017</em></p>
               </div>
            </div> <!-- item end -->

            <div class="row item">
               <div class="twelve columns">
                  <h3>Offensive Security Certified Professional (OSCP)</h3>
                  <p class="info">Awarded by Offensive Security Inc. <span>&bull;</span> <em class="date">Feb 2017</em></p>
               </div>
            </div> <!-- item end -->

            <div class="row item">
               <div class="twelve columns">
                  <h3>Red Hat Certified Engineer (RHCE)</h3>
                  <p class="info">Awarded by Red Hat Inc. <span>&bull;</span> <em class="date">Dec 2013</em></p>
                  <p>
                  + Red Hat Certified System Administrator (RHCSA): Certified Dec. 2012
                  </p>
               </div>
            </div> <!-- item end -->

            <div class="row item">
               <div class="twelve columns">
                  <h3>Oracle Certified Associate: Database 11g</h3>
                  <p class="info">Awarded by Oracle Inc. <span>&bull;</span> <em class="date">Nov 2012</em></p>
               </div>
            </div> <!-- item end -->

            <div class="row item">
               <div class="twelve columns">
                  <h3>Oracle Certified Professional: Java SE Programmer</h3>
                  <p class="info">Awarded by Oracle Inc. <span>&bull;</span> <em class="date">Apr 2012</em></p>
               </div>
            </div> <!-- item end -->

            <div class="row item">
               <div class="twelve columns">
                  <h3>Microsoft Office 2010 Master Specialist (MSOMS)</h3>
                  <p class="info">Awarded by Microsoft Inc. <span>&bull;</span> <em class="date">Nov 2012</em></p>
                  <p>
                      <ul>
                        <li>MOS PowerPoint 2010 Specialist (77-883)</li>
                        <li>MOS Access 2010 Specialist (77-885)</li>
                        <li>MOS Excel 2010 Expert (77-888)</li>
                        <li>MOS Word 2010 Expert (77-887)</li>
                  </p>
               </div>
            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Education -->



         <!-- Modal Popup
	      --------------------------------------------------------------- -->

         <div id="modal-01" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-coffee.jpg" alt="" />

		      <div class="description-box">
			      <h4>Coffee Cup</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding, Webdesign</span>
		      </div>

            <div class="link-box">
               <a href="https://www.behance.net">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-01 End -->

         <div id="modal-02" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-console.jpg" alt="" />

		      <div class="description-box">
			      <h4>Console</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding, Web Development</span>
		      </div>

            <div class="link-box">
               <a href="https://www.behance.net">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-02 End -->

         <div id="modal-03" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-judah.jpg" alt="" />

		      <div class="description-box">
			      <h4>Judah</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding</span>
		      </div>

            <div class="link-box">
               <a href="https://www.behance.net">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-03 End -->

         <div id="modal-04" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-intothelight.jpg" alt="" />

		      <div class="description-box">
			      <h4>Into the Light</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Photography</span>
		      </div>

            <div class="link-box">
               <a href="https://www.behance.net">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-04 End -->

         <div id="modal-05" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-farmerboy.jpg" alt="" />

		      <div class="description-box">
			      <h4>Farmer Boy</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding, Webdesign</span>
		      </div>

            <div class="link-box">
               <a href="https://www.behance.net">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-05 End -->

         <div id="modal-06" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-girl.jpg" alt="" />

		      <div class="description-box">
			      <h4>Girl</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Photography</span>
		      </div>

            <div class="link-box">
               <a href="https://www.behance.net">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-06 End -->

         <div id="modal-07" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-origami.jpg" alt="" />

		      <div class="description-box">
			      <h4>Origami</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding, Illustration</span>
		      </div>

            <div class="link-box">
               <a href="https://www.behance.net">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-07 End -->

         <div id="modal-08" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-retrocam.jpg" alt="" />

		      <div class="description-box">
			      <h4>Retrocam</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Webdesign, Photography</span>
		      </div>

            <div class="link-box">
               <a href="https://www.behance.net">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-01 End -->


      </div> <!-- row End -->

   </section> <!-- Portfolio Section End-->


   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="https://cyx.sg/me"><i class="fa fa-linkedin"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; Copyright 2017 Rayden Y. Chia</li>
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>

   <script src="js/jquery.flexslider.js"></script>
   <script src="js/waypoints.js"></script>
   <script src="js/jquery.fittext.js"></script>
   <script src="js/magnific-popup.js"></script>
   <script src="js/init.js"></script>

</body>

</html>
